%h2.title= t(".resend_confirmation_instructions")
= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}, data: {turbo: false}) do |f|
  = f.error_notification
  = f.full_error :confirmation_token
  = f.input :email, required: true, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), input_html: {autocomplete: "email"}
  = f.button :submit, t(".resend_confirmation_instructions")
= render "devise/shared/links"
