- content_for(:title) { @policy.name }

%table.table.is-striped.is-fullwidth
  %thead
    %tr
      %th Object
      %th Description
      %th Default
      %th Min
      %th Max
      %th Strategy
      %th
      %th
  %tbody.sortable{ data: {controller: "sortable", drag_url: move_policy_subject_attribute_url(@policy, ":id")} }
    - @subject_attributes.each do |attribute|
      %tr{ data: {id: attribute.id} }
        %td
          %i.fa.fa-exchange.fa-rotate-90
          = link_to attribute.oid.name, [@policy, attribute]
        %td= attribute.description
        %td= attribute.default
        %td= attribute.min
        %td= attribute.max
        %td= attribute.strategy
        %td= link_to "Edit", edit_policy_subject_attribute_path(@policy, attribute)
        %td= link_to "Destroy", [@policy, attribute], data: {turbo_method: :delete, turbo_confirm: t(".confirm")}

= link_to "New Attribute", new_policy_subject_attribute_path(@policy), class: "button"
