- content_for(:title) { t(".title", attribute_name: @subject_attribute.oid.name) }

.block
  %dl
    %dt Oid
    %dd= @subject_attribute.oid.name
  %dl
    %dt Description
    %dd= @subject_attribute.description
  %dl
    %dt Default
    %dd= @subject_attribute.default
  %dl
    %dt Min
    %dd= @subject_attribute.min
  %dl
    %dt Max
    %dd= @subject_attribute.max
  %dl
    %dt Strategy
    %dd= @subject_attribute.strategy

= link_to t(".edit"), edit_policy_subject_attribute_path(@policy, @subject_attribute), class: "button"
= link_to t(".back"), policy_subject_attributes_path(@policy), class: "button"
