- content_for(:title) { t(".title") }

%table.table.is-striped.is-fullwidth
  %thead
    %tr
      %th= Certificate.human_attribute_name :subject
      %th= Certificate.human_attribute_name :serial
      %th
      %th
  %tbody
    - @certificates.each do |certificate|
      %tr
        - certificate = certificate.becomes(Certificate) if certificate.issuer
        - if certificate.is_a? CertificateAuthority
          %td= link_to certificate_icon(certificate, text: certificate.subject), certificate
        - else
          %td= link_to certificate_icon(certificate, text: certificate.subject), [@certificate_authority, certificate]
        %td
          %code= certificate.serial
        - if certificate.is_a? CertificateAuthority
          %td
          %td
        - else
          %td
            - if certificate.revoked_at.nil? && certificate.not_after.future?
              = link_to t(".revoke"), revoke_certificate_authority_certificate_path(@certificate_authority, certificate), data: {turbo_method: :patch, turbo_confirm: t(".confirm")}
          %td= link_to t(".destroy"), certificate_authority_certificate_path(@certificate_authority, certificate), data: {turbo_method: :delete, turbo_confirm: t(".confirm")}

= link_to t(".new"), new_certificate_authority_certificate_path(@certificate_authority), class: "button"
