- content_for(:title) { @certificate.subject }

.columns
  .column.is-two-thirds
    - if @certificate.revoked_at
      .notification.is-danger
        %h4 Certificate revoked
        %p
          This certificate was revoked on
          = l @certificate.revoked_at

    %p
      %b Subject:
      %br
      %code= @certificate.subject
    %p
      %b Issuer:
      %br
      %code= @certificate.issuer.subject
    %p
      %b Serial:
      %br
      %code= @certificate.serial
    %p
      %b Validity:
      %br
      = l @certificate.not_before
      to
      = l @certificate.not_after
    %p
      %b Certificate
      %pre= @certificate.certificate

  .column
    %aside.menu
      %p.menu-label Downloads
      %ul.menu-list
        %li= link_to t(".download_pem"), certificate_authority_certificate_path(@certificate_authority, @certificate, format: "pem")
        %li= link_to t(".download_der"), certificate_authority_certificate_path(@certificate_authority, @certificate, format: "der")
      - if @certificate.revoked_at.nil?
        %p.menu-label Danger zone
        %ul.menu-list
          = link_to t(".revoke"), revoke_certificate_authority_certificate_path(@certificate_authority, @certificate), data: { turbo_method: :patch, turbo_confirm: t(".confirm") }
