- content_for(:title) { @certificate_authority.subject }

- if false
  .notification.is-warning
    %p The Certification Authority's Certificates Revokation List (CLR) needs updating.
    %p
      = link_to "", class: "button" do
        %span.icon
          = content_tag(:i, "", class: "fa fa-refresh")
        %span Update the Certificates Revokation List
      = link_to "Ignore", "", class: "button"

.columns
  .column.is-two-thirds
    %p
      %b Subject:
      %br
      %code= @certificate_authority.subject
    %p
      %b Issuer:
      %br
      %code= @certificate_authority.issuer.try(:subject) || @certificate_authority.subject
    %p
      %b Serial:
      %br
      %code= @certificate_authority.serial
    %p
      %b Validity:
      %br
      = l @certificate_authority.not_before
      to
      = l @certificate_authority.not_after
    %p
      %b Certificate
      %pre= @certificate_authority.certificate
    %p
      %b Policy
      %br
      - if @certificate_authority.policy then
        = link_to @certificate_authority.policy.name, policy_path(@certificate_authority.policy)
      - else
        None
    %p
      %b CRL expiration date
      %br
      = @certificate_authority.crl_ttl
  .column
    %aside.menu
      %p.menu-label Management
      %ul.menu-list
        %li= link_to t(".manage_certificates"), certificate_authority_certificates_path(@certificate_authority)
        %li= link_to t(".manage_users"), certificate_authority_users_path(@certificate_authority)
        %li= link_to t(".edit"), edit_certificate_authority_path(@certificate_authority)
      %p.menu-label Downloads
      %ul.menu-list
        %li= link_to t(".download_pem"), certificate_authority_path(@certificate_authority, format: "pem")
        %li= link_to t(".download_der"), certificate_authority_path(@certificate_authority, format: "der")
        %li= link_to t(".download_chain_pem"), full_chain_certificate_authority_path(@certificate_authority, format: "pem")
        %li= link_to t(".download_crl"), certificate_authority_path(@certificate_authority, format: "crl")
