= content_for(:title, t(".title"))

%table.table.is-striped.is-fullwidth
  %thead
    %tr
      %th= Policy.human_attribute_name :name
      %th
      %th

  %tbody
    - @policies.each do |policy|
      %tr
        %td= link_to policy.name, policy
        %td= link_to t(".edit"), edit_policy_path(policy)
        %td= link_to t(".destroy"), policy, data: { turbo_method: :delete, turbo_confirm: t(".confirm") }

= link_to t(".new"), new_policy_path, class: "button"
